/* article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap:10px
}

article img{
    max-width: 480px;
    height: auto;
} */
/* ======= Branding Page CSS ======= */

article{
    margin: 50px 100px 100px 50px;
}

.carousel-scroll {
    display: flex;             
    overflow-x: auto;           
    scroll-behavior: smooth;   
    gap: 10px;  
    padding: 10px;                
}

.carousel-scroll img {
    flex-shrink: 0;            
    width: 700px;               
    height: auto;
    object-fit: cover;
}

/* Optional: hide scrollbar on desktop */
.carousel-scroll::-webkit-scrollbar {
    height: 8px; 
    padding: 10px;
}

.carousel-scroll::-webkit-scrollbar-thumb {
    background-color: #fbb831;
}

.carousel-scroll::-webkit-scrollbar-track {
    background: #adadad;
}
.mainlogo{
    text-align: center;
}
.mainlogo img{
    width:600px; 
}

#brand h2{
    padding:0px; 
    margin-bottom: -30px;
    margin-left: 60px;
    color: #fbb831;
}

.para{
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 100px;
}
.para p{
    text-align: left;
    color: #cbcac8; 
}

.identity{
    display:block;
    text-align: center;

}
.identity img{
    width:600px; 
    height: 100%;
    text-align: center;
}
/* ===== Responsive for tablets ===== */
@media (min-width: 480px) and (max-width: 768px) {
    .carousel-scroll img {
        width: 640px;             /* smaller images */
    }
    .carousel-scroll {
        gap: 10px;
        padding: 16px;
    }
}

/* ===== Responsive for phones ===== */
@media (max-width: 480px) {
    .carousel-scroll {
        gap: 8px;
        padding: 10px;
    }
    .carousel-scroll img {
        width: 400px;             /* fit smaller screens */
    }

    article{
    margin: 8px;
}
}