h1{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 20pt;
}

h3{
    text-align: center;
    font-size: 16pt;
    font-family: "Cutive Mono", monospace;
 
}

p{
    text-align: center;
    font-family: "Cutive Mono", monospace;
}