.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0;
  background-color: rgb(27, 27, 27);
  overflow-x: hidden;
}

h1 {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  color: #fbb831;

}

h2 {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

#instagram-button {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 10px;
}

#instagram-logo {
  width: 30px;
  height: auto;
  transition: transform 0.3s;
}

#instagram-button:hover #instagram-logo {
  transform: scale(1.1) rotate(5deg);
}






@media(min-width:860px) {

  html {
    max-width: 1200px;
    height: 100%;
    width: 90%;
    margin: 0 auto;
  }

.galleryheader {
  position: fixed;       
  top: 0;                
  left: 20; 
  right: 20;              
  width: 100%;           
  z-index: 9999;         
  background-color: rgb(27, 27, 27); 
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;

}

footer {
  font-size: x-small;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 100pt;
  width: 100%;
  text-align: center;
  padding: 3rem 2rem;
  backdrop-filter: blur(10px);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(27, 27, 27);
  padding: 10px 0;
}

nav a {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: left;
}

nav ul {
  background-color: #fbb831;
  border-radius: 6px;
    padding: 0.6em 3em;
    font-size: 12px;
      list-style: none;
      margin-left:8px;
}


.nav-logo img {
  display: block;
  margin-bottom: 8px;
  background-color: rgb(27, 27, 27);
  width: 200px;
}

nav ul li {
  display: flex;
  align-items: center;
}



nav  :hover {
  background-color: rgb(27, 27, 27);
  color: #fbb831;
}




  h1 {
    font-size: 40pt;
    margin-top: 60px;
  }

  p {
    font-size: 14pt;
    color: #a5a5a5;
    padding-top: 0px;
    margin-top: -30px;
  }

  .cart {
    margin-top: 80px;
    margin-right: 150px;
    position: fixed;
    top: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
  }

  #viewCartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: none;
  }

  #cartListContainer {
    width: 120%;
    background-color: #fbb831;
    border-radius: 4px;
    padding: 4px;
  }


  #viewCartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    border: none;
  }

  #cartCountContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    color: #fbb831;
    padding: 5px 10px;
    font-size: 14px;
  }

  #cartListContainer h3 {
    font-family: "Limelight", sans-serif;
    font-size: 14pt;
    margin-bottom: 3px;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  #cartListContainer li {
    font-family: "Cutive Mono", monospace;
    font-size: 10pt;
    list-style-type: square;
    text-align: left;
    margin-bottom: 8px;
    color: rgb(0, 0, 0);
  }
  

  #cartListContainer p {
    font-family: "Cutive Mono", monospace;
    font-size: 10pt;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  #viewCartButton img {
    height: 35px;
  }

  #resetCartButton {
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 4px;

  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;



    text-decoration: none;
    font-size: 8pt;
    margin-top: 50px;
    margin-right: 150px;
    position: fixed;
    top: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
    padding: 4px;
  }

  #resetCartButton:active {
    background-color: #c66666;
  }

  .TheGalleryImages{
    text-align: center;
    padding-top: 200pt;
  }

}

/* MOBILE STYLING */
@media (max-width: 860px) {

  html {
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
  }

  footer {
  font-size: x-small;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 100pt;
  width: 100%;
  text-align: center;
  padding: 3rem 2rem;
  backdrop-filter: blur(10px);
}

.galleryheader {
  position: fixed;       
  top: 0;                

             
  width: 90%;           
  z-index: 9999;         
  background-color: rgb(27, 27, 27); 


}

.TheGalleryImages{
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(27, 27, 27);
  padding: 10px 0;
}

nav a {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: left;
}

nav ul {
  background-color: #fbb831;
  border-radius: 6px;
    padding: .3em .5em;
    font-size: 9px;
      list-style: none;
}


.nav-logo img {
  display: block;
  margin-bottom: 10px;
  background-color: rgb(27, 27, 27);
  width: 100px;

}

nav ul li {
  display: flex;
  align-items: center;
}





  /* HEADINGS */
  h1 {
    font-size: 20pt;
    margin-top: 10px;
    color: #fbb831;
  }

  p {
    font-size: 10pt;
      color: #c3c3c3;
    margin-bottom: 15px;
    margin-top: -10pt;

  
  }

  /* CART */
  .cart {
    position: fixed;
    top: 50px;
    right: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9999;
  }

  #viewCartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);

  }

  #viewCartButton img {
    height: 20px;
    width: auto;
  }

  #cartCountContainer {
    font-size: 8px;
    color: #fbb831;
    background-color: rgb(27, 27, 27);
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 2px;
  }

  #cartListContainer {
    max-width: 120px;
    background-color: #fbb831;
    border-radius: 6px;
    padding: 2px;
    margin-top: 5px;
    font-size: 10pt;
    color: rgb(0,0,0);

  }

  #cartListContainer h3 {
    font-family: "Limelight", sans-serif;
    font-size: 10pt;
    text-align: center;
    margin-bottom: 5px;
  }

    #cartListContainer li{
    font-family: "Cutive Mono", monospace;
    font-size: 8pt;
    margin-bottom: 2px;
    margin-right: 10pt;
    text-align: left;
  }

  #cartListContainer p{
    font-family: "Cutive Mono", monospace;
    font-size: 8pt;
    margin-bottom: 2px;
    margin-left: 0pt;
    color: black;
  }


  #resetCartButton {
    position: fixed;
    top: 20px;
    right: 60px;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #333;
    border: 2px solid #ffffff;
    font-weight: bold;
    z-index: 1000;
  }

  #resetCartButton:active {
    background-color: #c66666;
    color: white;
  }



}
